\newcommand{\cvName}{\VAR{ data.name|latex_escape }}
\newcommand{\cvEmail}{\VAR{ data.email|latex_escape }}
\newcommand{\cvWebsite}{\VAR{ data.website|latex_escape }}
\newcommand{\cvTagline}{\VAR{ data.tagline|latex_escape }}
