\resumeSubHeadingListStart
\BLOCK{ for m in data.mentees }
\BLOCK{ if m.current }
\resumeMentee
{\textbf{\VAR{ m.name }} | \VAR{ m.project }}{\VAR{ m.years.replace("-", " $\\rightarrow$ ") }}{\VAR{ m.current.replace("->", "$\\rightarrow$") }}
\BLOCK{ else }
\resumeSubheadingSingleLine
{\textbf{\VAR{ m.name }} | \VAR{ m.project }}{\VAR{ m.years.replace("-", " $\\rightarrow$ ") }}
\BLOCK{ endif }
\BLOCK{ endfor }
\BLOCK{ for o in data.other }
\resumeSubheadingSingleLine{\textbf{\VAR{ o }}}{Monthly}
\BLOCK{ endfor }
\BLOCK{ if data.leadership }
\resumeSubheadingSingleLine{}{}
\BLOCK{ for r in data.leadership }
\resumeSubheading
{\VAR{ r.role }}{\VAR{ r.years.replace("-", " $\\rightarrow$ ") }}
{\VAR{ r.org }}{}
\BLOCK{ endfor }
\BLOCK{ endif }
\resumeSubHeadingListEnd
