\BLOCK{ macro pub_block(p) }
\item
\VAR{ format_authors(p.authors) } (\VAR{ p.year }).
\VAR{ p.title }.
\BLOCK{ if p.venue }\textit{\VAR{ p.venue_full or p.venue }}. \BLOCK{ endif }\VAR{ format_links(p.links) }
\BLOCK{ if p.cv_award }
\textperiodcentered{} \textcolor{red}{\textbf{\VAR{ p.cv_award }}}\BLOCK{ if p.cv_award_venue } @ \textit{\VAR{ p.cv_award_venue }}\BLOCK{ endif }
\BLOCK{ else }
\BLOCK{ for award in p.awards }
\textperiodcentered{} \textcolor{red}{\textbf{\VAR{ award }}}
\BLOCK{ endfor }
\BLOCK{ endif }
\vspace{-3pt}
\BLOCK{ endmacro }
\BLOCK{ if groups.preprint }
\begin{enumerate}[label=P\arabic*]
\BLOCK{ for p in groups.preprint }
\VAR{ pub_block(p) }
\BLOCK{ endfor }
\end{enumerate}
\BLOCK{ endif }
\BLOCK{ if groups.journal }
\begin{enumerate}[label=J\arabic*]
\BLOCK{ for p in groups.journal }
\VAR{ pub_block(p) }
\BLOCK{ endfor }
\end{enumerate}
\BLOCK{ endif }
\BLOCK{ if groups.conference }
\begin{enumerate}[label=C\arabic*]
\BLOCK{ for p in groups.conference }
\VAR{ pub_block(p) }
\BLOCK{ endfor }
\end{enumerate}
\BLOCK{ endif }
\BLOCK{ if groups.workshop }
\begin{enumerate}[label=W\arabic*]
\BLOCK{ for p in groups.workshop }
\VAR{ pub_block(p) }
\BLOCK{ endfor }
\end{enumerate}
\BLOCK{ endif }
